{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lora:wght@700&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body style="font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    height: 100vh;
    overflow: hidden;">
    {% block content %}
    {% endblock %}
</body>